<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer p-3">
    <div class="search-bar-inner">
      <form action="/search">
        <a class="text-reset"
           href="/"
           style="text-decoration:none">
          <h4 class="mb-2">尋找餐廳：</h4>
        </a>
        <div class="input-group">
          <input type="text"
                 name="keyword"
                 class="form-control"
                 placeholder="輸入餐廳、分類、地點...等關鍵字"
                 aria-label="Restaurant Name..."
                 aria-describedby="search-button"
                 value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-major"
                    type="submit"
                    id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="d-md-flex justify-content-end mt-2">
        <a class="btn btn-link text-danger fw-bold"
           style="text-decoration:none"
           href="/restaurant/new"
           role="button">
          <i class="fa-solid fa-square-plus mx-1"></i> add new restaurant
        </a>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        {{#each restaurants}}
        <div class="col">

          <div class="card mb-3">

            <a href="/restaurants/{{this._id}}">
              <img class="card-img-top"
                   src="{{this.image}}"
                   alt="{{this.name}}">
            </a>

            <div class="card-body p-3">

              <a href="/restaurants/{{this._id}}"
                 class="text-reset"
                 style="text-decoration:none">
                <h6 class="card-title mb-1 fw-bold">{{this.name}}</h6>
              </a>

              <div class="restaurant-category mb-1">
                <i class="fa-solid fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge bg-secondary">
                <i class="fas fa-star fa-xs"></i>
                {{ this.rating }}
              </span>

            </div>

            <div class="card-footer d-grid gap-2 d-md-flex justify-content-end p-3">

              {{! delete }}
              <form action="/restaurants/{{ this._id }}?_method=DELETE"
                    method="post">
                <button class="btn btn-link text-muted"
                        type="submit">
                  <i class="fa-solid fa-trash fa-lg"></i>
                </button>
              </form>

              {{! edit }}
              <a class="btn btn-secondary"
                 href="/restaurants/{{ this._id }}/edit"
                 role="button"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>

              {{! more }}
              <a class="btn btn-major"
                 href="/restaurants/{{ this._id }}"
                 role="button">More</a>

            </div>
          </div>
        </div>

        {{/each}}

      </div>
    </div>
  </div>
</div>